body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%; /* Largura em porcentagem */
    max-width: 640px; /* Largura máxima limitada */
  }
  
  .video-container {
    width: 100%; /* Ocupa a largura total do container */
    height: 0; /* Mantém a proporção do vídeo */
    max-width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative; /* Para posicionar o vídeo */
  }
  
  #video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .text-container {
    width: 97%; 
    max-height: 200px; 
    overflow-y: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    color: rgb(35, 35, 35);
    font-size: 16px;
  }

.message {
    margin-bottom: 10px; /* Add vertical space between messages */
    white-space: pre-line; /* Preserve line breaks and spaces */
}

.control-container {
  display: flex;
  flex-direction: column; /* Muda para coluna em telas menores */
  align-items: stretch; /* Faz os elementos ocuparem a largura total */
  width: 100%; 
  margin-top: 20px;
  gap: 10px; /* Adiciona espaço entre os elementos */
}

.interval-container {
  display: flex;
  align-items: center;
  width: 100%; /* Ocupa a largura total do container */
}

#interval-input {
  flex: 1; /* Ocupa o espaço restante */
  padding-left: 12px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  height: 42px; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 100%; /* Ocupa a largura total do container */
}

button:hover {
    background-color: #333;
}

button span {
    margin-left: 10px;
}

/* Settings Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.setting {
    margin-bottom: 15px;
}

.setting label {
    display: block;
    margin-bottom: 5px;
}

.setting input,
.setting textarea {
    width: 95%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

@media (max-width: 768px) {
    /* Ajustes para telas menores que 768px */
    .container {
      width: 95%; /* Aumenta a largura em telas menores */
      padding: 15px; /* Reduz o padding em telas menores */
    }
  
    /* Outros ajustes específicos para telas menores podem ser adicionados aqui */
  }